<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "SpineSight AI" }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div class="d-flex flex-column flex-md-row h-100">
    <!-- Sidebar -->
    <nav class="sidebar bg-white border-end" style="width: 200px; padding: 20px;">
      <h4 class="text-center text-primary fw-bold mb-4 logo">SpineSight AI</h4>
      <ul class="nav flex-column" style="display: flex; gap: 10px; flex-direction: column; ">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Patient Prediction</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('bulk_upload') }}">Bulk Upload</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('history') }}">
            History
          </a>
        </li>
        
      </ul>
    </nav>

    <!-- Main Content -->
    <main class="content flex-grow-1">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>
